/* Product */

.product-identifier__label,
.product-identifier__value,
.product-identifier__separator {
  line-height: 12px;
  font-size: 10px;
  color: #3C3C3C;
  text-transform: uppercase;
  font-weight: 800;
}

/**/
